/* Imported CSS */
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,500|Catamaran:100,200,300,400,500,600,700,800,900');
/* End Imported CSS*/


/* Default CSS*/
body {
  font-family: Muli,Helvetica,Arial,sans-serif;
  background-color: #fff;
  overflow-x: hidden;
  font-size: 15px;
  color: #333;
  margin: 0;
  padding: 0;
}



/*Intro CSS */
.caption-intro{
	padding-top: 200px;
	padding-bottom: 120px;
	text-align: center;
}
.caption-intro h4 {
	text-transform: uppercase;
	padding-bottom: 15px;
	font-weight: 300;
  font-size: 30px;
}


.cd-headline {
  font-size: 60px;
  line-height: 1.2;
}

/* xclip */
.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}

.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 10%;
  right: 0;
  width: 2px;
  height: 70%;
  background-color: #aebcb9;
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline b.is-visible {
  opacity: 1;
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
  font-weight: 700;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.no-js .cd-words-wrapper b {
  opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}



/* End Default CSS